@font-face {
  font-family: 'imanicon';
  src:  url('../fonts/imanicon.eot?ik2lhy');
  src:  url('../fonts/imanicon.eot?ik2lhy#iefix') format('embedded-opentype'),
    url('../fonts/imanicon.ttf?ik2lhy') format('truetype'),
    url('../fonts/imanicon.woff?ik2lhy') format('woff'),
    url('../fonts/imanicon.svg?ik2lhy#imanicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'imanicon' !important;
  color: #3e9dfb;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-error:before {
  content: "\e900";
}
.ic-error_outline:before {
  content: "\e901";
}
.ic-warning:before {
  content: "\e902";
}
.ic-add_alert:before {
  content: "\e903";
}
.ic-notification_important:before {
  content: "\e904";
}
.ic-album:before {
  content: "\e905";
}
.ic-av_timer:before {
  content: "\e906";
}
.ic-closed_caption:before {
  content: "\e907";
}
.ic-equalizer:before {
  content: "\e908";
}
.ic-explicit:before {
  content: "\e909";
}
.ic-fast_forward:before {
  content: "\e90a";
}
.ic-fast_rewind:before {
  content: "\e90b";
}
.ic-games:before {
  content: "\e90c";
}
.ic-hearing:before {
  content: "\e90d";
}
.ic-high_quality:before {
  content: "\e90e";
}
.ic-loop:before {
  content: "\e90f";
}
.ic-mic:before {
  content: "\e910";
}
.ic-mic_none:before {
  content: "\e911";
}
.ic-mic_off:before {
  content: "\e912";
}
.ic-movie:before {
  content: "\e913";
}
.ic-library_add:before {
  content: "\e914";
}
.ic-library_books:before {
  content: "\e915";
}
.ic-library_music:before {
  content: "\e916";
}
.ic-new_releases:before {
  content: "\e917";
}
.ic-not_interested:before {
  content: "\e918";
}
.ic-pause:before {
  content: "\e919";
}
.ic-pause_circle_filled:before {
  content: "\e91a";
}
.ic-pause_circle_outline:before {
  content: "\e91b";
}
.ic-play_arrow:before {
  content: "\e91c";
}
.ic-play_circle_filled:before {
  content: "\e91d";
}
.ic-play_circle_outline:before {
  content: "\e91e";
}
.ic-playlist_add:before {
  content: "\e91f";
}
.ic-queue_music:before {
  content: "\e920";
}
.ic-radio:before {
  content: "\e921";
}
.ic-recent_actors:before {
  content: "\e922";
}
.ic-repeat:before {
  content: "\e923";
}
.ic-repeat_one:before {
  content: "\e924";
}
.ic-replay:before {
  content: "\e925";
}
.ic-shuffle:before {
  content: "\e926";
}
.ic-skip_next:before {
  content: "\e927";
}
.ic-skip_previous:before {
  content: "\e928";
}
.ic-snooze:before {
  content: "\e929";
}
.ic-stop:before {
  content: "\e92a";
}
.ic-subtitles:before {
  content: "\e92b";
}
.ic-surround_sound:before {
  content: "\e92c";
}
.ic-video_collection:before {
  content: "\e92d";
}
.ic-videocam:before {
  content: "\e92e";
}
.ic-videocam_off:before {
  content: "\e92f";
}
.ic-volume_down:before {
  content: "\e930";
}
.ic-volume_mute:before {
  content: "\e931";
}
.ic-volume_off:before {
  content: "\e932";
}
.ic-volume_up:before {
  content: "\e933";
}
.ic-web:before {
  content: "\e934";
}
.ic-hd:before {
  content: "\e935";
}
.ic-sort_by_alpha:before {
  content: "\e936";
}
.ic-airplay:before {
  content: "\e937";
}
.ic-forward_10:before {
  content: "\e938";
}
.ic-forward_30:before {
  content: "\e939";
}
.ic-forward_5:before {
  content: "\e93a";
}
.ic-replay_10:before {
  content: "\e93b";
}
.ic-replay_30:before {
  content: "\e93c";
}
.ic-replay_5:before {
  content: "\e93d";
}
.ic-add_to_queue:before {
  content: "\e93e";
}
.ic-fiber_dvr:before {
  content: "\e93f";
}
.ic-fiber_new:before {
  content: "\e940";
}
.ic-playlist_play:before {
  content: "\e941";
}
.ic-art_track:before {
  content: "\e942";
}
.ic-fiber_manual_record:before {
  content: "\e943";
}
.ic-fiber_smart_record:before {
  content: "\e944";
}
.ic-music_video:before {
  content: "\e945";
}
.ic-subscriptions:before {
  content: "\e946";
}
.ic-playlist_add_check:before {
  content: "\e947";
}
.ic-queue_play_next:before {
  content: "\e948";
}
.ic-remove_from_queue:before {
  content: "\e949";
}
.ic-slow_motion_video:before {
  content: "\e94a";
}
.ic-web_asset:before {
  content: "\e94b";
}
.ic-fiber_pin:before {
  content: "\e94c";
}
.ic-branding_watermark:before {
  content: "\e94d";
}
.ic-call_to_action:before {
  content: "\e94e";
}
.ic-featured_play_list:before {
  content: "\e94f";
}
.ic-featured_video:before {
  content: "\e950";
}
.ic-note:before {
  content: "\e951";
}
.ic-video_call:before {
  content: "\e952";
}
.ic-video_label:before {
  content: "\e953";
}
.ic-4k:before {
  content: "\e954";
}
.ic-missed_video_call:before {
  content: "\e955";
}
.ic-control_camera:before {
  content: "\e956";
}
.ic-business:before {
  content: "\e957";
}
.ic-call:before {
  content: "\e958";
}
.ic-call_end:before {
  content: "\e959";
}
.ic-call_made:before {
  content: "\e95a";
}
.ic-call_merge:before {
  content: "\e95b";
}
.ic-call_missed:before {
  content: "\e95c";
}
.ic-call_received:before {
  content: "\e95d";
}
.ic-call_split:before {
  content: "\e95e";
}
.ic-chat:before {
  content: "\e95f";
}
.ic-clear_all:before {
  content: "\e960";
}
.ic-comment:before {
  content: "\e961";
}
.ic-contacts:before {
  content: "\e962";
}
.ic-dialer_sip:before {
  content: "\e963";
}
.ic-dialpad:before {
  content: "\e964";
}
.ic-email:before {
  content: "\e965";
}
.ic-forum:before {
  content: "\e966";
}
.ic-import_export:before {
  content: "\e967";
}
.ic-invert_colors_off:before {
  content: "\e968";
}
.ic-live_help:before {
  content: "\e969";
}
.ic-location_off:before {
  content: "\e96a";
}
.ic-location_on:before {
  content: "\e96b";
}
.ic-message:before {
  content: "\e96c";
}
.ic-chat_bubble:before {
  content: "\e96d";
}
.ic-chat_bubble_outline:before {
  content: "\e96e";
}
.ic-no_sim:before {
  content: "\e96f";
}
.ic-phone:before {
  content: "\e970";
}
.ic-portable_wifi_off:before {
  content: "\e971";
}
.ic-contact_phone:before {
  content: "\e972";
}
.ic-contact_mail:before {
  content: "\e973";
}
.ic-ring_volume:before {
  content: "\e974";
}
.ic-speaker_phone:before {
  content: "\e975";
}
.ic-stay_current_landscape:before {
  content: "\e976";
}
.ic-stay_current_portrait:before {
  content: "\e977";
}
.ic-swap_calls:before {
  content: "\e978";
}
.ic-textsms:before {
  content: "\e979";
}
.ic-voicemail:before {
  content: "\e97a";
}
.ic-vpn_key:before {
  content: "\e97b";
}
.ic-phonelink_erase:before {
  content: "\e97c";
}
.ic-phonelink_lock:before {
  content: "\e97d";
}
.ic-phonelink_ring:before {
  content: "\e97e";
}
.ic-phonelink_setup:before {
  content: "\e97f";
}
.ic-present_to_all:before {
  content: "\e980";
}
.ic-import_contacts:before {
  content: "\e981";
}
.ic-mail_outline:before {
  content: "\e982";
}
.ic-screen_share:before {
  content: "\e983";
}
.ic-stop_screen_share:before {
  content: "\e984";
}
.ic-call_missed_outgoing:before {
  content: "\e985";
}
.ic-rss_feed:before {
  content: "\e986";
}
.ic-alternate_email:before {
  content: "\e987";
}
.ic-mobile_screen_share:before {
  content: "\e988";
}
.ic-add_call:before {
  content: "\e989";
}
.ic-cancel_presentation:before {
  content: "\e98a";
}
.ic-pause_presentation:before {
  content: "\e98b";
}
.ic-unsubscribe:before {
  content: "\e98c";
}
.ic-cell_wifi:before {
  content: "\e98d";
}
.ic-sentiment_satisfied_alt:before {
  content: "\e98e";
}
.ic-list_alt:before {
  content: "\e98f";
}
.ic-domain_disabled:before {
  content: "\e990";
}
.ic-lightbulb:before {
  content: "\e991";
}
.ic-add:before {
  content: "\e992";
}
.ic-add_box:before {
  content: "\e993";
}
.ic-add_circle:before {
  content: "\e994";
}
.ic-add_circle_outline:before {
  content: "\e995";
}
.ic-archive:before {
  content: "\e996";
}
.ic-backspace:before {
  content: "\e997";
}
.ic-block:before {
  content: "\e998";
}
.ic-clear:before {
  content: "\e999";
}
.ic-content_copy:before {
  content: "\e99a";
}
.ic-content_cut:before {
  content: "\e99b";
}
.ic-content_paste:before {
  content: "\e99c";
}
.ic-create:before {
  content: "\e99d";
}
.ic-drafts:before {
  content: "\e99e";
}
.ic-filter_list:before {
  content: "\e99f";
}
.ic-flag:before {
  content: "\e9a0";
}
.ic-forward:before {
  content: "\e9a1";
}
.ic-gesture:before {
  content: "\e9a2";
}
.ic-inbox:before {
  content: "\e9a3";
}
.ic-link:before {
  content: "\e9a4";
}
.ic-redo:before {
  content: "\e9a5";
}
.ic-remove:before {
  content: "\e9a6";
}
.ic-remove_circle:before {
  content: "\e9a7";
}
.ic-remove_circle_outline:before {
  content: "\e9a8";
}
.ic-reply:before {
  content: "\e9a9";
}
.ic-reply_all:before {
  content: "\e9aa";
}
.ic-report:before {
  content: "\e9ab";
}
.ic-save:before {
  content: "\e9ac";
}
.ic-select_all:before {
  content: "\e9ad";
}
.ic-send:before {
  content: "\e9ae";
}
.ic-sort:before {
  content: "\e9af";
}
.ic-text_format:before {
  content: "\e9b0";
}
.ic-undo:before {
  content: "\e9b1";
}
.ic-font_download:before {
  content: "\e9b2";
}
.ic-move_to_inbox:before {
  content: "\e9b3";
}
.ic-unarchive:before {
  content: "\e9b4";
}
.ic-next_week:before {
  content: "\e9b5";
}
.ic-weekend:before {
  content: "\e9b6";
}
.ic-delete_sweep:before {
  content: "\e9b7";
}
.ic-low_priority:before {
  content: "\e9b8";
}
.ic-outlined_flag:before {
  content: "\e9b9";
}
.ic-link_off:before {
  content: "\e9ba";
}
.ic-report_off:before {
  content: "\e9bb";
}
.ic-save_alt:before {
  content: "\e9bc";
}
.ic-ballot:before {
  content: "\e9bd";
}
.ic-file_copy:before {
  content: "\e9be";
}
.ic-how_to_reg:before {
  content: "\e9bf";
}
.ic-how_to_vote:before {
  content: "\e9c0";
}
.ic-waves:before {
  content: "\e9c1";
}
.ic-where_to_vote:before {
  content: "\e9c2";
}
.ic-add_link:before {
  content: "\e9c3";
}
.ic-inventory:before {
  content: "\e9c4";
}
.ic-access_alarm:before {
  content: "\e9c5";
}
.ic-access_alarms:before {
  content: "\e9c6";
}
.ic-access_time:before {
  content: "\e9c7";
}
.ic-add_alarm:before {
  content: "\e9c8";
}
.ic-airplanemode_inactive:before {
  content: "\e9c9";
}
.ic-airplanemode_active:before {
  content: "\e9ca";
}
.ic-battery_alert:before {
  content: "\e9cb";
}
.ic-battery_charging_full:before {
  content: "\e9cc";
}
.ic-battery_full:before {
  content: "\e9cd";
}
.ic-battery_unknown:before {
  content: "\e9ce";
}
.ic-bluetooth:before {
  content: "\e9cf";
}
.ic-bluetooth_connected:before {
  content: "\e9d0";
}
.ic-bluetooth_disabled:before {
  content: "\e9d1";
}
.ic-bluetooth_searching:before {
  content: "\e9d2";
}
.ic-brightness_auto:before {
  content: "\e9d3";
}
.ic-brightness_high:before {
  content: "\e9d4";
}
.ic-brightness_low:before {
  content: "\e9d5";
}
.ic-brightness_medium:before {
  content: "\e9d6";
}
.ic-data_usage:before {
  content: "\e9d7";
}
.ic-developer_mode:before {
  content: "\e9d8";
}
.ic-devices:before {
  content: "\e9d9";
}
.ic-dvr:before {
  content: "\e9da";
}
.ic-gps_fixed:before {
  content: "\e9db";
}
.ic-gps_not_fixed:before {
  content: "\e9dc";
}
.ic-gps_off:before {
  content: "\e9dd";
}
.ic-graphic_eq:before {
  content: "\e9de";
}
.ic-network_cell:before {
  content: "\e9df";
}
.ic-network_wifi:before {
  content: "\e9e0";
}
.ic-nfc:before {
  content: "\e9e1";
}
.ic-now_wallpaper:before {
  content: "\e9e2";
}
.ic-now_widgets:before {
  content: "\e9e3";
}
.ic-screen_lock_landscape:before {
  content: "\e9e4";
}
.ic-screen_lock_portrait:before {
  content: "\e9e5";
}
.ic-screen_lock_rotation:before {
  content: "\e9e6";
}
.ic-screen_rotation:before {
  content: "\e9e7";
}
.ic-sd_storage:before {
  content: "\e9e8";
}
.ic-settings_system_daydream:before {
  content: "\e9e9";
}
.ic-signal_cellular_4_bar:before {
  content: "\e9ea";
}
.ic-signal_cellular_connected_no_internet_4_bar:before {
  content: "\e9eb";
}
.ic-signal_cellular_null:before {
  content: "\e9ec";
}
.ic-signal_cellular_off:before {
  content: "\e9ed";
}
.ic-signal_wifi_4_bar:before {
  content: "\e9ee";
}
.ic-signal_wifi_4_bar_lock:before {
  content: "\e9ef";
}
.ic-signal_wifi_off:before {
  content: "\e9f0";
}
.ic-storage:before {
  content: "\e9f1";
}
.ic-usb:before {
  content: "\e9f2";
}
.ic-wifi_lock:before {
  content: "\e9f3";
}
.ic-wifi_tethering:before {
  content: "\e9f4";
}
.ic-add_to_home_screen:before {
  content: "\e9f5";
}
.ic-device_thermostat:before {
  content: "\e9f6";
}
.ic-mobile_friendly:before {
  content: "\e9f7";
}
.ic-mobile_off:before {
  content: "\e9f8";
}
.ic-signal_cellular_alt:before {
  content: "\e9f9";
}
.ic-attach_file:before {
  content: "\e9fa";
}
.ic-attach_money:before {
  content: "\e9fb";
}
.ic-border_all:before {
  content: "\e9fc";
}
.ic-border_bottom:before {
  content: "\e9fd";
}
.ic-border_clear:before {
  content: "\e9fe";
}
.ic-border_color:before {
  content: "\e9ff";
}
.ic-border_horizontal:before {
  content: "\ea00";
}
.ic-border_inner:before {
  content: "\ea01";
}
.ic-border_left:before {
  content: "\ea02";
}
.ic-border_outer:before {
  content: "\ea03";
}
.ic-border_right:before {
  content: "\ea04";
}
.ic-border_style:before {
  content: "\ea05";
}
.ic-border_top:before {
  content: "\ea06";
}
.ic-border_vertical:before {
  content: "\ea07";
}
.ic-format_align_center:before {
  content: "\ea08";
}
.ic-format_align_justify:before {
  content: "\ea09";
}
.ic-format_align_left:before {
  content: "\ea0a";
}
.ic-format_align_right:before {
  content: "\ea0b";
}
.ic-format_bold:before {
  content: "\ea0c";
}
.ic-format_clear:before {
  content: "\ea0d";
}
.ic-format_color_fill:before {
  content: "\ea0e";
}
.ic-format_color_reset:before {
  content: "\ea0f";
}
.ic-format_color_text:before {
  content: "\ea10";
}
.ic-format_indent_decrease:before {
  content: "\ea11";
}
.ic-format_indent_increase:before {
  content: "\ea12";
}
.ic-format_italic:before {
  content: "\ea13";
}
.ic-format_line_spacing:before {
  content: "\ea14";
}
.ic-format_list_bulleted:before {
  content: "\ea15";
}
.ic-format_list_numbered:before {
  content: "\ea16";
}
.ic-format_paint:before {
  content: "\ea17";
}
.ic-format_quote:before {
  content: "\ea18";
}
.ic-format_size:before {
  content: "\ea19";
}
.ic-format_strikethrough:before {
  content: "\ea1a";
}
.ic-format_textdirection_l_to_r:before {
  content: "\ea1b";
}
.ic-format_textdirection_r_to_l:before {
  content: "\ea1c";
}
.ic-format_underlined:before {
  content: "\ea1d";
}
.ic-functions:before {
  content: "\ea1e";
}
.ic-insert_chart:before {
  content: "\ea1f";
}
.ic-insert_comment:before {
  content: "\ea20";
}
.ic-insert_drive_file:before {
  content: "\ea21";
}
.ic-insert_emoticon:before {
  content: "\ea22";
}
.ic-insert_invitation:before {
  content: "\ea23";
}
.ic-insert_photo:before {
  content: "\ea24";
}
.ic-mode_comment:before {
  content: "\ea25";
}
.ic-publish:before {
  content: "\ea26";
}
.ic-space_bar:before {
  content: "\ea27";
}
.ic-strikethrough_s:before {
  content: "\ea28";
}
.ic-vertical_align_bottom:before {
  content: "\ea29";
}
.ic-vertical_align_center:before {
  content: "\ea2a";
}
.ic-vertical_align_top:before {
  content: "\ea2b";
}
.ic-wrap_text:before {
  content: "\ea2c";
}
.ic-money_off:before {
  content: "\ea2d";
}
.ic-drag_handle:before {
  content: "\ea2e";
}
.ic-format_shapes:before {
  content: "\ea2f";
}
.ic-highlight:before {
  content: "\ea30";
}
.ic-linear_scale:before {
  content: "\ea31";
}
.ic-short_text:before {
  content: "\ea32";
}
.ic-text_fields:before {
  content: "\ea33";
}
.ic-monetization_on:before {
  content: "\ea34";
}
.ic-title:before {
  content: "\ea35";
}
.ic-table_chart:before {
  content: "\ea36";
}
.ic-add_comment:before {
  content: "\ea37";
}
.ic-format_list_numbered_rtl:before {
  content: "\ea38";
}
.ic-scatter_plot:before {
  content: "\ea39";
}
.ic-score:before {
  content: "\ea3a";
}
.ic-insert_chart_outlined:before {
  content: "\ea3b";
}
.ic-bar_chart:before {
  content: "\ea3c";
}
.ic-notes:before {
  content: "\ea3d";
}
.ic-attachment:before {
  content: "\ea3e";
}
.ic-cloud:before {
  content: "\ea3f";
}
.ic-cloud_circle:before {
  content: "\ea40";
}
.ic-cloud_done:before {
  content: "\ea41";
}
.ic-cloud_download:before {
  content: "\ea42";
}
.ic-cloud_off:before {
  content: "\ea43";
}
.ic-cloud_queue:before {
  content: "\ea44";
}
.ic-cloud_upload:before {
  content: "\ea45";
}
.ic-file_download:before {
  content: "\ea46";
}
.ic-file_upload:before {
  content: "\ea47";
}
.ic-folder:before {
  content: "\ea48";
}
.ic-folder_open:before {
  content: "\ea49";
}
.ic-folder_shared:before {
  content: "\ea4a";
}
.ic-create_new_folder:before {
  content: "\ea4b";
}
.ic-cast:before {
  content: "\ea4c";
}
.ic-cast_connected:before {
  content: "\ea4d";
}
.ic-computer:before {
  content: "\ea4e";
}
.ic-desktop_mac:before {
  content: "\ea4f";
}
.ic-desktop_windows:before {
  content: "\ea50";
}
.ic-developer_board:before {
  content: "\ea51";
}
.ic-dock:before {
  content: "\ea52";
}
.ic-headset:before {
  content: "\ea53";
}
.ic-headset_mic:before {
  content: "\ea54";
}
.ic-keyboard:before {
  content: "\ea55";
}
.ic-keyboard_arrow_down:before {
  content: "\ea56";
}
.ic-keyboard_arrow_left:before {
  content: "\ea57";
}
.ic-keyboard_arrow_right:before {
  content: "\ea58";
}
.ic-keyboard_arrow_up:before {
  content: "\ea59";
}
.ic-keyboard_backspace:before {
  content: "\ea5a";
}
.ic-keyboard_capslock:before {
  content: "\ea5b";
}
.ic-keyboard_hide:before {
  content: "\ea5c";
}
.ic-keyboard_return:before {
  content: "\ea5d";
}
.ic-keyboard_tab:before {
  content: "\ea5e";
}
.ic-keyboard_voice:before {
  content: "\ea5f";
}
.ic-laptop_chromebook:before {
  content: "\ea60";
}
.ic-laptop_mac:before {
  content: "\ea61";
}
.ic-laptop_windows:before {
  content: "\ea62";
}
.ic-memory:before {
  content: "\ea63";
}
.ic-mouse:before {
  content: "\ea64";
}
.ic-phone_android:before {
  content: "\ea65";
}
.ic-phone_iphone:before {
  content: "\ea66";
}
.ic-phonelink_off:before {
  content: "\ea67";
}
.ic-router:before {
  content: "\ea68";
}
.ic-scanner:before {
  content: "\ea69";
}
.ic-security:before {
  content: "\ea6a";
}
.ic-sim_card:before {
  content: "\ea6b";
}
.ic-speaker:before {
  content: "\ea6c";
}
.ic-speaker_group:before {
  content: "\ea6d";
}
.ic-tablet:before {
  content: "\ea6e";
}
.ic-tablet_android:before {
  content: "\ea6f";
}
.ic-tablet_mac:before {
  content: "\ea70";
}
.ic-toys:before {
  content: "\ea71";
}
.ic-tv:before {
  content: "\ea72";
}
.ic-watch:before {
  content: "\ea73";
}
.ic-device_hub:before {
  content: "\ea74";
}
.ic-power_input:before {
  content: "\ea75";
}
.ic-devices_other:before {
  content: "\ea76";
}
.ic-videogame_asset:before {
  content: "\ea77";
}
.ic-device_unknown:before {
  content: "\ea78";
}
.ic-headset_off:before {
  content: "\ea79";
}
.ic-adjust:before {
  content: "\ea7a";
}
.ic-assistant:before {
  content: "\ea7b";
}
.ic-audiotrack:before {
  content: "\ea7c";
}
.ic-blur_circular:before {
  content: "\ea7d";
}
.ic-blur_linear:before {
  content: "\ea7e";
}
.ic-blur_off:before {
  content: "\ea7f";
}
.ic-blur_on:before {
  content: "\ea80";
}
.ic-brightness_1:before {
  content: "\ea81";
}
.ic-brightness_2:before {
  content: "\ea82";
}
.ic-brightness_3:before {
  content: "\ea83";
}
.ic-brightness_4:before {
  content: "\ea84";
}
.ic-broken_image:before {
  content: "\ea85";
}
.ic-brush:before {
  content: "\ea86";
}
.ic-camera:before {
  content: "\ea87";
}
.ic-camera_alt:before {
  content: "\ea88";
}
.ic-camera_front:before {
  content: "\ea89";
}
.ic-camera_rear:before {
  content: "\ea8a";
}
.ic-camera_roll:before {
  content: "\ea8b";
}
.ic-center_focus_strong:before {
  content: "\ea8c";
}
.ic-center_focus_weak:before {
  content: "\ea8d";
}
.ic-collections:before {
  content: "\ea8e";
}
.ic-color_lens:before {
  content: "\ea8f";
}
.ic-colorize:before {
  content: "\ea90";
}
.ic-compare:before {
  content: "\ea91";
}
.ic-control_point_duplicate:before {
  content: "\ea92";
}
.ic-crop_16_9:before {
  content: "\ea93";
}
.ic-crop_3_2:before {
  content: "\ea94";
}
.ic-crop:before {
  content: "\ea95";
}
.ic-crop_5_4:before {
  content: "\ea96";
}
.ic-crop_7_5:before {
  content: "\ea97";
}
.ic-crop_din:before {
  content: "\ea98";
}
.ic-crop_free:before {
  content: "\ea99";
}
.ic-crop_original:before {
  content: "\ea9a";
}
.ic-crop_portrait:before {
  content: "\ea9b";
}
.ic-crop_square:before {
  content: "\ea9c";
}
.ic-dehaze:before {
  content: "\ea9d";
}
.ic-details:before {
  content: "\ea9e";
}
.ic-exposure:before {
  content: "\ea9f";
}
.ic-exposure_minus_1:before {
  content: "\eaa0";
}
.ic-exposure_minus_2:before {
  content: "\eaa1";
}
.ic-exposure_plus_1:before {
  content: "\eaa2";
}
.ic-exposure_plus_2:before {
  content: "\eaa3";
}
.ic-exposure_zero:before {
  content: "\eaa4";
}
.ic-filter_1:before {
  content: "\eaa5";
}
.ic-filter_2:before {
  content: "\eaa6";
}
.ic-filter_3:before {
  content: "\eaa7";
}
.ic-filter:before {
  content: "\eaa8";
}
.ic-filter_4:before {
  content: "\eaa9";
}
.ic-filter_5:before {
  content: "\eaaa";
}
.ic-filter_6:before {
  content: "\eaab";
}
.ic-filter_7:before {
  content: "\eaac";
}
.ic-filter_8:before {
  content: "\eaad";
}
.ic-filter_9:before {
  content: "\eaae";
}
.ic-filter_9_plus:before {
  content: "\eaaf";
}
.ic-filter_b_and_w:before {
  content: "\eab0";
}
.ic-filter_center_focus:before {
  content: "\eab1";
}
.ic-filter_drama:before {
  content: "\eab2";
}
.ic-filter_frames:before {
  content: "\eab3";
}
.ic-filter_hdr:before {
  content: "\eab4";
}
.ic-filter_none:before {
  content: "\eab5";
}
.ic-filter_tilt_shift:before {
  content: "\eab6";
}
.ic-filter_vintage:before {
  content: "\eab7";
}
.ic-flare:before {
  content: "\eab8";
}
.ic-flash_auto:before {
  content: "\eab9";
}
.ic-flash_off:before {
  content: "\eaba";
}
.ic-flash_on:before {
  content: "\eabb";
}
.ic-flip:before {
  content: "\eabc";
}
.ic-gradient:before {
  content: "\eabd";
}
.ic-grain:before {
  content: "\eabe";
}
.ic-grid_off:before {
  content: "\eabf";
}
.ic-grid_on:before {
  content: "\eac0";
}
.ic-hdr_off:before {
  content: "\eac1";
}
.ic-hdr_on:before {
  content: "\eac2";
}
.ic-hdr_strong:before {
  content: "\eac3";
}
.ic-hdr_weak:before {
  content: "\eac4";
}
.ic-healing:before {
  content: "\eac5";
}
.ic-image_aspect_ratio:before {
  content: "\eac6";
}
.ic-iso:before {
  content: "\eac7";
}
.ic-leak_add:before {
  content: "\eac8";
}
.ic-leak_remove:before {
  content: "\eac9";
}
.ic-lens:before {
  content: "\eaca";
}
.ic-looks_3:before {
  content: "\eacb";
}
.ic-looks:before {
  content: "\eacc";
}
.ic-looks_4:before {
  content: "\eacd";
}
.ic-looks_5:before {
  content: "\eace";
}
.ic-looks_6:before {
  content: "\eacf";
}
.ic-looks_one:before {
  content: "\ead0";
}
.ic-looks_two:before {
  content: "\ead1";
}
.ic-loupe:before {
  content: "\ead2";
}
.ic-monochrome_photos:before {
  content: "\ead3";
}
.ic-music_note:before {
  content: "\ead4";
}
.ic-nature:before {
  content: "\ead5";
}
.ic-nature_people:before {
  content: "\ead6";
}
.ic-navigate_before:before {
  content: "\ead7";
}
.ic-navigate_next:before {
  content: "\ead8";
}
.ic-panorama:before {
  content: "\ead9";
}
.ic-panorama_fish_eye:before {
  content: "\eada";
}
.ic-panorama_horizontal:before {
  content: "\eadb";
}
.ic-panorama_vertical:before {
  content: "\eadc";
}
.ic-panorama_wide_angle:before {
  content: "\eadd";
}
.ic-photo_album:before {
  content: "\eade";
}
.ic-picture_as_pdf:before {
  content: "\eadf";
}
.ic-portrait:before {
  content: "\eae0";
}
.ic-remove_red_eye:before {
  content: "\eae1";
}
.ic-rotate_90_degrees_ccw:before {
  content: "\eae2";
}
.ic-rotate_left:before {
  content: "\eae3";
}
.ic-rotate_right:before {
  content: "\eae4";
}
.ic-slideshow:before {
  content: "\eae5";
}
.ic-straighten:before {
  content: "\eae6";
}
.ic-style:before {
  content: "\eae7";
}
.ic-switch_camera:before {
  content: "\eae8";
}
.ic-switch_video:before {
  content: "\eae9";
}
.ic-texture:before {
  content: "\eaea";
}
.ic-timelapse:before {
  content: "\eaeb";
}
.ic-timer_10:before {
  content: "\eaec";
}
.ic-timer_3:before {
  content: "\eaed";
}
.ic-timer:before {
  content: "\eaee";
}
.ic-timer_off:before {
  content: "\eaef";
}
.ic-tonality:before {
  content: "\eaf0";
}
.ic-transform:before {
  content: "\eaf1";
}
.ic-tune:before {
  content: "\eaf2";
}
.ic-view_comfortable:before {
  content: "\eaf3";
}
.ic-view_compact:before {
  content: "\eaf4";
}
.ic-wb_auto:before {
  content: "\eaf5";
}
.ic-wb_cloudy:before {
  content: "\eaf6";
}
.ic-wb_incandescent:before {
  content: "\eaf7";
}
.ic-wb_sunny:before {
  content: "\eaf8";
}
.ic-collections_bookmark:before {
  content: "\eaf9";
}
.ic-photo_size_select_actual:before {
  content: "\eafa";
}
.ic-photo_size_select_large:before {
  content: "\eafb";
}
.ic-photo_size_select_small:before {
  content: "\eafc";
}
.ic-vignette:before {
  content: "\eafd";
}
.ic-wb_iridescent:before {
  content: "\eafe";
}
.ic-crop_rotate:before {
  content: "\eaff";
}
.ic-linked_camera:before {
  content: "\eb00";
}
.ic-add_a_photo:before {
  content: "\eb01";
}
.ic-movie_filter:before {
  content: "\eb02";
}
.ic-photo_filter:before {
  content: "\eb03";
}
.ic-burst_mode:before {
  content: "\eb04";
}
.ic-shutter_speed:before {
  content: "\eb05";
}
.ic-add_photo_alternate:before {
  content: "\eb06";
}
.ic-image_search:before {
  content: "\eb07";
}
.ic-music_off:before {
  content: "\eb08";
}
.ic-beenhere:before {
  content: "\eb09";
}
.ic-directions:before {
  content: "\eb0a";
}
.ic-directions_bike:before {
  content: "\eb0b";
}
.ic-directions_bus:before {
  content: "\eb0c";
}
.ic-directions_car:before {
  content: "\eb0d";
}
.ic-directions_ferry:before {
  content: "\eb0e";
}
.ic-directions_subway:before {
  content: "\eb0f";
}
.ic-directions_railway:before {
  content: "\eb10";
}
.ic-directions_walk:before {
  content: "\eb11";
}
.ic-hotel:before {
  content: "\eb12";
}
.ic-layers:before {
  content: "\eb13";
}
.ic-layers_clear:before {
  content: "\eb14";
}
.ic-local_atm:before {
  content: "\eb15";
}
.ic-local_attraction:before {
  content: "\eb16";
}
.ic-local_bar:before {
  content: "\eb17";
}
.ic-local_cafe:before {
  content: "\eb18";
}
.ic-local_car_wash:before {
  content: "\eb19";
}
.ic-local_convenience_store:before {
  content: "\eb1a";
}
.ic-local_drink:before {
  content: "\eb1b";
}
.ic-local_florist:before {
  content: "\eb1c";
}
.ic-local_gas_station:before {
  content: "\eb1d";
}
.ic-local_grocery_store:before {
  content: "\eb1e";
}
.ic-local_hospital:before {
  content: "\eb1f";
}
.ic-local_laundry_service:before {
  content: "\eb20";
}
.ic-local_library:before {
  content: "\eb21";
}
.ic-local_mall:before {
  content: "\eb22";
}
.ic-local_movies:before {
  content: "\eb23";
}
.ic-local_offer:before {
  content: "\eb24";
}
.ic-local_parking:before {
  content: "\eb25";
}
.ic-local_pharmacy:before {
  content: "\eb26";
}
.ic-local_pizza:before {
  content: "\eb27";
}
.ic-local_print_shop:before {
  content: "\eb28";
}
.ic-local_restaurant:before {
  content: "\eb29";
}
.ic-local_shipping:before {
  content: "\eb2a";
}
.ic-local_taxi:before {
  content: "\eb2b";
}
.ic-location_history:before {
  content: "\eb2c";
}
.ic-map:before {
  content: "\eb2d";
}
.ic-navigation:before {
  content: "\eb2e";
}
.ic-pin_drop:before {
  content: "\eb2f";
}
.ic-rate_review:before {
  content: "\eb30";
}
.ic-satellite:before {
  content: "\eb31";
}
.ic-store_mall_directory:before {
  content: "\eb32";
}
.ic-traffic:before {
  content: "\eb33";
}
.ic-directions_run:before {
  content: "\eb34";
}
.ic-add_location:before {
  content: "\eb35";
}
.ic-edit_location:before {
  content: "\eb36";
}
.ic-near_me:before {
  content: "\eb37";
}
.ic-person_pin_circle:before {
  content: "\eb38";
}
.ic-zoom_out_map:before {
  content: "\eb39";
}
.ic-restaurant:before {
  content: "\eb3a";
}
.ic-ev_station:before {
  content: "\eb3b";
}
.ic-streetview:before {
  content: "\eb3c";
}
.ic-subway:before {
  content: "\eb3d";
}
.ic-train:before {
  content: "\eb3e";
}
.ic-tram:before {
  content: "\eb3f";
}
.ic-transfer_within_a_station:before {
  content: "\eb40";
}
.ic-atm:before {
  content: "\eb41";
}
.ic-category:before {
  content: "\eb42";
}
.ic-not_listed_location:before {
  content: "\eb43";
}
.ic-departure_board:before {
  content: "\eb44";
}
.ic-360:before {
  content: "\eb45";
}
.ic-edit_attributes:before {
  content: "\eb46";
}
.ic-transit_enterexit:before {
  content: "\eb47";
}
.ic-fastfood:before {
  content: "\eb48";
}
.ic-trip_origin:before {
  content: "\eb49";
}
.ic-compass_calibration:before {
  content: "\eb4a";
}
.ic-money:before {
  content: "\eb4b";
}
.ic-apps:before {
  content: "\eb4c";
}
.ic-arrow_back:before {
  content: "\eb4d";
}
.ic-arrow_drop_down:before {
  content: "\eb4e";
}
.ic-arrow_drop_down_circle:before {
  content: "\eb4f";
}
.ic-arrow_drop_up:before {
  content: "\eb50";
}
.ic-arrow_forward:before {
  content: "\eb51";
}
.ic-cancel:before {
  content: "\eb52";
}
.ic-check:before {
  content: "\eb53";
}
.ic-expand_less:before {
  content: "\eb54";
}
.ic-expand_more:before {
  content: "\eb55";
}
.ic-fullscreen:before {
  content: "\eb56";
}
.ic-fullscreen_exit:before {
  content: "\eb57";
}
.ic-menu:before {
  content: "\eb58";
}
.ic-keyboard_control:before {
  content: "\eb59";
}
.ic-more_vert:before {
  content: "\eb5a";
}
.ic-refresh:before {
  content: "\eb5b";
}
.ic-unfold_less:before {
  content: "\eb5c";
}
.ic-unfold_more:before {
  content: "\eb5d";
}
.ic-arrow_upward:before {
  content: "\eb5e";
}
.ic-subdirectory_arrow_left:before {
  content: "\eb5f";
}
.ic-subdirectory_arrow_right:before {
  content: "\eb60";
}
.ic-arrow_downward:before {
  content: "\eb61";
}
.ic-first_page:before {
  content: "\eb62";
}
.ic-last_page:before {
  content: "\eb63";
}
.ic-arrow_left:before {
  content: "\eb64";
}
.ic-arrow_right:before {
  content: "\eb65";
}
.ic-arrow_back_ios:before {
  content: "\eb66";
}
.ic-arrow_forward_ios:before {
  content: "\eb67";
}
.ic-adb:before {
  content: "\eb68";
}
.ic-disc_full:before {
  content: "\eb69";
}
.ic-do_not_disturb_alt:before {
  content: "\eb6a";
}
.ic-drive_eta:before {
  content: "\eb6b";
}
.ic-event_available:before {
  content: "\eb6c";
}
.ic-event_busy:before {
  content: "\eb6d";
}
.ic-event_note:before {
  content: "\eb6e";
}
.ic-folder_special:before {
  content: "\eb6f";
}
.ic-mms:before {
  content: "\eb70";
}
.ic-more:before {
  content: "\eb71";
}
.ic-network_locked:before {
  content: "\eb72";
}
.ic-phone_bluetooth_speaker:before {
  content: "\eb73";
}
.ic-phone_forwarded:before {
  content: "\eb74";
}
.ic-phone_in_talk:before {
  content: "\eb75";
}
.ic-phone_locked:before {
  content: "\eb76";
}
.ic-phone_missed:before {
  content: "\eb77";
}
.ic-phone_paused:before {
  content: "\eb78";
}
.ic-sim_card_alert:before {
  content: "\eb79";
}
.ic-sms_failed:before {
  content: "\eb7a";
}
.ic-sync_disabled:before {
  content: "\eb7b";
}
.ic-sync_problem:before {
  content: "\eb7c";
}
.ic-system_update:before {
  content: "\eb7d";
}
.ic-tap_and_play:before {
  content: "\eb7e";
}
.ic-vibration:before {
  content: "\eb7f";
}
.ic-voice_chat:before {
  content: "\eb80";
}
.ic-vpn_lock:before {
  content: "\eb81";
}
.ic-airline_seat_flat:before {
  content: "\eb82";
}
.ic-airline_seat_flat_angled:before {
  content: "\eb83";
}
.ic-airline_seat_individual_suite:before {
  content: "\eb84";
}
.ic-airline_seat_legroom_extra:before {
  content: "\eb85";
}
.ic-airline_seat_legroom_normal:before {
  content: "\eb86";
}
.ic-airline_seat_legroom_reduced:before {
  content: "\eb87";
}
.ic-airline_seat_recline_extra:before {
  content: "\eb88";
}
.ic-airline_seat_recline_normal:before {
  content: "\eb89";
}
.ic-confirmation_number:before {
  content: "\eb8a";
}
.ic-live_tv:before {
  content: "\eb8b";
}
.ic-ondemand_video:before {
  content: "\eb8c";
}
.ic-personal_video:before {
  content: "\eb8d";
}
.ic-power:before {
  content: "\eb8e";
}
.ic-wc:before {
  content: "\eb8f";
}
.ic-wifi:before {
  content: "\eb90";
}
.ic-enhanced_encryption:before {
  content: "\eb91";
}
.ic-network_check:before {
  content: "\eb92";
}
.ic-no_encryption:before {
  content: "\eb93";
}
.ic-rv_hookup:before {
  content: "\eb94";
}
.ic-do_not_disturb_off:before {
  content: "\eb95";
}
.ic-priority_high:before {
  content: "\eb96";
}
.ic-power_off:before {
  content: "\eb97";
}
.ic-tv_off:before {
  content: "\eb98";
}
.ic-wifi_off:before {
  content: "\eb99";
}
.ic-phone_callback:before {
  content: "\eb9a";
}
.ic-pie_chart:before {
  content: "\eb9b";
}
.ic-pie_chart_outlined:before {
  content: "\eb9c";
}
.ic-bubble_chart:before {
  content: "\eb9d";
}
.ic-multiline_chart:before {
  content: "\eb9e";
}
.ic-show_chart:before {
  content: "\eb9f";
}
.ic-cake:before {
  content: "\eba0";
}
.ic-group:before {
  content: "\eba1";
}
.ic-group_add:before {
  content: "\eba2";
}
.ic-location_city:before {
  content: "\eba3";
}
.ic-mood_bad:before {
  content: "\eba4";
}
.ic-notifications:before {
  content: "\eba5";
}
.ic-notifications_none:before {
  content: "\eba6";
}
.ic-notifications_off:before {
  content: "\eba7";
}
.ic-notifications_active:before {
  content: "\eba8";
}
.ic-notifications_paused:before {
  content: "\eba9";
}
.ic-pages:before {
  content: "\ebaa";
}
.ic-party_mode:before {
  content: "\ebab";
}
.ic-people_outline:before {
  content: "\ebac";
}
.ic-person:before {
  content: "\ebad";
}
.ic-person_add:before {
  content: "\ebae";
}
.ic-person_outline:before {
  content: "\ebaf";
}
.ic-plus_one:before {
  content: "\ebb0";
}
.ic-public:before {
  content: "\ebb1";
}
.ic-school:before {
  content: "\ebb2";
}
.ic-share:before {
  content: "\ebb3";
}
.ic-whatshot:before {
  content: "\ebb4";
}
.ic-sentiment_dissatisfied:before {
  content: "\ebb5";
}
.ic-sentiment_neutral:before {
  content: "\ebb6";
}
.ic-sentiment_satisfied:before {
  content: "\ebb7";
}
.ic-sentiment_very_dissatisfied:before {
  content: "\ebb8";
}
.ic-sentiment_very_satisfied:before {
  content: "\ebb9";
}
.ic-thumb_down_alt:before {
  content: "\ebba";
}
.ic-thumb_up_alt:before {
  content: "\ebbb";
}
.ic-check_box:before {
  content: "\ebbc";
}
.ic-check_box_outline_blank:before {
  content: "\ebbd";
}
.ic-radio_button_checked:before {
  content: "\ebbe";
}
.ic-star:before {
  content: "\ebbf";
}
.ic-star_half:before {
  content: "\ebc0";
}
.ic-star_outline:before {
  content: "\ebc1";
}
.ic-3d_rotation:before {
  content: "\ebc2";
}
.ic-accessibility:before {
  content: "\ebc3";
}
.ic-account_balance:before {
  content: "\ebc4";
}
.ic-account_balance_wallet:before {
  content: "\ebc5";
}
.ic-account_box:before {
  content: "\ebc6";
}
.ic-account_circle:before {
  content: "\ebc7";
}
.ic-add_shopping_cart:before {
  content: "\ebc8";
}
.ic-alarm_off:before {
  content: "\ebc9";
}
.ic-alarm_on:before {
  content: "\ebca";
}
.ic-android:before {
  content: "\ebcb";
}
.ic-announcement:before {
  content: "\ebcc";
}
.ic-aspect_ratio:before {
  content: "\ebcd";
}
.ic-assignment:before {
  content: "\ebce";
}
.ic-assignment_ind:before {
  content: "\ebcf";
}
.ic-assignment_late:before {
  content: "\ebd0";
}
.ic-assignment_return:before {
  content: "\ebd1";
}
.ic-assignment_returned:before {
  content: "\ebd2";
}
.ic-assignment_turned_in:before {
  content: "\ebd3";
}
.ic-autorenew:before {
  content: "\ebd4";
}
.ic-book:before {
  content: "\ebd5";
}
.ic-bookmark:before {
  content: "\ebd6";
}
.ic-bookmark_outline:before {
  content: "\ebd7";
}
.ic-bug_report:before {
  content: "\ebd8";
}
.ic-build:before {
  content: "\ebd9";
}
.ic-cached:before {
  content: "\ebda";
}
.ic-change_history:before {
  content: "\ebdb";
}
.ic-check_circle:before {
  content: "\ebdc";
}
.ic-chrome_reader_mode:before {
  content: "\ebdd";
}
.ic-code:before {
  content: "\ebde";
}
.ic-credit_card:before {
  content: "\ebdf";
}
.ic-dashboard:before {
  content: "\ebe0";
}
.ic-delete:before {
  content: "\ebe1";
}
.ic-description:before {
  content: "\ebe2";
}
.ic-dns:before {
  content: "\ebe3";
}
.ic-done:before {
  content: "\ebe4";
}
.ic-done_all:before {
  content: "\ebe5";
}
.ic-exit_to_app:before {
  content: "\ebe6";
}
.ic-explore:before {
  content: "\ebe7";
}
.ic-extension:before {
  content: "\ebe8";
}
.ic-face:before {
  content: "\ebe9";
}
.ic-favorite:before {
  content: "\ebea";
}
.ic-favorite_outline:before {
  content: "\ebeb";
}
.ic-find_in_page:before {
  content: "\ebec";
}
.ic-find_replace:before {
  content: "\ebed";
}
.ic-flip_to_back:before {
  content: "\ebee";
}
.ic-flip_to_front:before {
  content: "\ebef";
}
.ic-group_work:before {
  content: "\ebf0";
}
.ic-help:before {
  content: "\ebf1";
}
.ic-highlight_remove:before {
  content: "\ebf2";
}
.ic-history:before {
  content: "\ebf3";
}
.ic-home:before {
  content: "\ebf4";
}
.ic-hourglass_empty:before {
  content: "\ebf5";
}
.ic-hourglass_full:before {
  content: "\ebf6";
}
.ic-https:before {
  content: "\ebf7";
}
.ic-info:before {
  content: "\ebf8";
}
.ic-info_outline:before {
  content: "\ebf9";
}
.ic-input:before {
  content: "\ebfa";
}
.ic-invert_colors_on:before {
  content: "\ebfb";
}
.ic-label:before {
  content: "\ebfc";
}
.ic-label_outline:before {
  content: "\ebfd";
}
.ic-language:before {
  content: "\ebfe";
}
.ic-launch:before {
  content: "\ebff";
}
.ic-list:before {
  content: "\ec00";
}
.ic-lock_open:before {
  content: "\ec01";
}
.ic-lock_outline:before {
  content: "\ec02";
}
.ic-loyalty:before {
  content: "\ec03";
}
.ic-markunread_mailbox:before {
  content: "\ec04";
}
.ic-note_add:before {
  content: "\ec05";
}
.ic-open_in_browser:before {
  content: "\ec06";
}
.ic-open_with:before {
  content: "\ec07";
}
.ic-pageview:before {
  content: "\ec08";
}
.ic-perm_camera_mic:before {
  content: "\ec09";
}
.ic-perm_contact_calendar:before {
  content: "\ec0a";
}
.ic-perm_data_setting:before {
  content: "\ec0b";
}
.ic-perm_device_information:before {
  content: "\ec0c";
}
.ic-perm_media:before {
  content: "\ec0d";
}
.ic-perm_phone_msg:before {
  content: "\ec0e";
}
.ic-perm_scan_wifi:before {
  content: "\ec0f";
}
.ic-picture_in_picture:before {
  content: "\ec10";
}
.ic-polymer:before {
  content: "\ec11";
}
.ic-power_settings_new:before {
  content: "\ec12";
}
.ic-receipt:before {
  content: "\ec13";
}
.ic-redeem:before {
  content: "\ec14";
}
.ic-search:before {
  content: "\ec15";
}
.ic-settings:before {
  content: "\ec16";
}
.ic-settings_applications:before {
  content: "\ec17";
}
.ic-settings_backup_restore:before {
  content: "\ec18";
}
.ic-settings_bluetooth:before {
  content: "\ec19";
}
.ic-settings_cell:before {
  content: "\ec1a";
}
.ic-settings_brightness:before {
  content: "\ec1b";
}
.ic-settings_ethernet:before {
  content: "\ec1c";
}
.ic-settings_input_antenna:before {
  content: "\ec1d";
}
.ic-settings_input_component:before {
  content: "\ec1e";
}
.ic-settings_input_hdmi:before {
  content: "\ec1f";
}
.ic-settings_input_svideo:before {
  content: "\ec20";
}
.ic-settings_overscan:before {
  content: "\ec21";
}
.ic-settings_phone:before {
  content: "\ec22";
}
.ic-settings_power:before {
  content: "\ec23";
}
.ic-settings_remote:before {
  content: "\ec24";
}
.ic-settings_voice:before {
  content: "\ec25";
}
.ic-shop:before {
  content: "\ec26";
}
.ic-shop_two:before {
  content: "\ec27";
}
.ic-shopping_basket:before {
  content: "\ec28";
}
.ic-speaker_notes:before {
  content: "\ec29";
}
.ic-spellcheck:before {
  content: "\ec2a";
}
.ic-stars:before {
  content: "\ec2b";
}
.ic-subject:before {
  content: "\ec2c";
}
.ic-supervisor_account:before {
  content: "\ec2d";
}
.ic-swap_horiz:before {
  content: "\ec2e";
}
.ic-swap_vert:before {
  content: "\ec2f";
}
.ic-swap_vertical_circle:before {
  content: "\ec30";
}
.ic-system_update_alt:before {
  content: "\ec31";
}
.ic-tab:before {
  content: "\ec32";
}
.ic-tab_unselected:before {
  content: "\ec33";
}
.ic-thumb_down:before {
  content: "\ec34";
}
.ic-thumb_up:before {
  content: "\ec35";
}
.ic-thumbs_up_down:before {
  content: "\ec36";
}
.ic-toc:before {
  content: "\ec37";
}
.ic-today:before {
  content: "\ec38";
}
.ic-toll:before {
  content: "\ec39";
}
.ic-track_changes:before {
  content: "\ec3a";
}
.ic-translate:before {
  content: "\ec3b";
}
.ic-trending_down:before {
  content: "\ec3c";
}
.ic-trending_neutral:before {
  content: "\ec3d";
}
.ic-trending_up:before {
  content: "\ec3e";
}
.ic-verified_user:before {
  content: "\ec3f";
}
.ic-view_agenda:before {
  content: "\ec40";
}
.ic-view_array:before {
  content: "\ec41";
}
.ic-view_carousel:before {
  content: "\ec42";
}
.ic-view_column:before {
  content: "\ec43";
}
.ic-view_day:before {
  content: "\ec44";
}
.ic-view_headline:before {
  content: "\ec45";
}
.ic-view_list:before {
  content: "\ec46";
}
.ic-view_module:before {
  content: "\ec47";
}
.ic-view_quilt:before {
  content: "\ec48";
}
.ic-view_stream:before {
  content: "\ec49";
}
.ic-view_week:before {
  content: "\ec4a";
}
.ic-visibility_off:before {
  content: "\ec4b";
}
.ic-card_membership:before {
  content: "\ec4c";
}
.ic-card_travel:before {
  content: "\ec4d";
}
.ic-work:before {
  content: "\ec4e";
}
.ic-youtube_searched_for:before {
  content: "\ec4f";
}
.ic-eject:before {
  content: "\ec50";
}
.ic-camera_enhance:before {
  content: "\ec51";
}
.ic-help_outline:before {
  content: "\ec52";
}
.ic-reorder:before {
  content: "\ec53";
}
.ic-zoom_in:before {
  content: "\ec54";
}
.ic-zoom_out:before {
  content: "\ec55";
}
.ic-http:before {
  content: "\ec56";
}
.ic-event_seat:before {
  content: "\ec57";
}
.ic-flight_land:before {
  content: "\ec58";
}
.ic-flight_takeoff:before {
  content: "\ec59";
}
.ic-play_for_work:before {
  content: "\ec5a";
}
.ic-gif:before {
  content: "\ec5b";
}
.ic-indeterminate_check_box:before {
  content: "\ec5c";
}
.ic-offline_pin:before {
  content: "\ec5d";
}
.ic-all_out:before {
  content: "\ec5e";
}
.ic-copyright:before {
  content: "\ec5f";
}
.ic-fingerprint:before {
  content: "\ec60";
}
.ic-gavel:before {
  content: "\ec61";
}
.ic-lightbulb_outline:before {
  content: "\ec62";
}
.ic-picture_in_picture_alt:before {
  content: "\ec63";
}
.ic-important_devices:before {
  content: "\ec64";
}
.ic-touch_app:before {
  content: "\ec65";
}
.ic-accessible:before {
  content: "\ec66";
}
.ic-compare_arrows:before {
  content: "\ec67";
}
.ic-date_range:before {
  content: "\ec68";
}
.ic-donut_large:before {
  content: "\ec69";
}
.ic-donut_small:before {
  content: "\ec6a";
}
.ic-line_style:before {
  content: "\ec6b";
}
.ic-line_weight:before {
  content: "\ec6c";
}
.ic-motorcycle:before {
  content: "\ec6d";
}
.ic-opacity:before {
  content: "\ec6e";
}
.ic-pets:before {
  content: "\ec6f";
}
.ic-pregnant_woman:before {
  content: "\ec70";
}
.ic-record_voice_over:before {
  content: "\ec71";
}
.ic-rounded_corner:before {
  content: "\ec72";
}
.ic-rowing:before {
  content: "\ec73";
}
.ic-timeline:before {
  content: "\ec74";
}
.ic-update:before {
  content: "\ec75";
}
.ic-watch_later:before {
  content: "\ec76";
}
.ic-pan_tool:before {
  content: "\ec77";
}
.ic-euro_symbol:before {
  content: "\ec78";
}
.ic-g_translate:before {
  content: "\ec79";
}
.ic-remove_shopping_cart:before {
  content: "\ec7a";
}
.ic-restore_page:before {
  content: "\ec7b";
}
.ic-speaker_notes_off:before {
  content: "\ec7c";
}
.ic-delete_forever:before {
  content: "\ec7d";
}
.ic-accessibility_new:before {
  content: "\ec7e";
}
.ic-check_circle_outline:before {
  content: "\ec7f";
}
.ic-delete_outline:before {
  content: "\ec80";
}
.ic-done_outline:before {
  content: "\ec81";
}
.ic-maximize:before {
  content: "\ec82";
}
.ic-minimize:before {
  content: "\ec83";
}
.ic-offline_bolt:before {
  content: "\ec84";
}
.ic-swap_horizontal_circle:before {
  content: "\ec85";
}
.ic-accessible_forward:before {
  content: "\ec86";
}
.ic-calendar_today:before {
  content: "\ec87";
}
.ic-calendar_view_day:before {
  content: "\ec88";
}
.ic-label_important:before {
  content: "\ec89";
}
.ic-restore_from_trash:before {
  content: "\ec8a";
}
.ic-supervised_user_circle:before {
  content: "\ec8b";
}
.ic-text_rotate_up:before {
  content: "\ec8c";
}
.ic-text_rotate_vertical:before {
  content: "\ec8d";
}
.ic-text_rotation_angledown:before {
  content: "\ec8e";
}
.ic-text_rotation_angleup:before {
  content: "\ec8f";
}
.ic-text_rotation_down:before {
  content: "\ec90";
}
.ic-text_rotation_none:before {
  content: "\ec91";
}
.ic-commute:before {
  content: "\ec92";
}
.ic-arrow_right_alt:before {
  content: "\ec93";
}
.ic-work_off:before {
  content: "\ec94";
}
.ic-work_outline:before {
  content: "\ec95";
}
.ic-drag_indicator:before {
  content: "\ec96";
}
.ic-horizontal_split:before {
  content: "\ec97";
}
.ic-label_important_outline:before {
  content: "\ec98";
}
.ic-vertical_split:before {
  content: "\ec99";
}
.ic-voice_over_off:before {
  content: "\ec9a";
}
.ic-segment:before {
  content: "\ec9b";
}
.ic-contact_support:before {
  content: "\ec9c";
}
.ic-compress:before {
  content: "\ec9d";
}
.ic-filter_list_alt:before {
  content: "\ec9e";
}
.ic-expand:before {
  content: "\ec9f";
}
.ic-edit_off:before {
  content: "\eca0";
}
.ic-10k:before {
  content: "\eca1";
}
.ic-10mp:before {
  content: "\eca2";
}
.ic-11mp:before {
  content: "\eca3";
}
.ic-12mp:before {
  content: "\eca4";
}
.ic-13mp:before {
  content: "\eca5";
}
.ic-14mp:before {
  content: "\eca6";
}
.ic-15mp:before {
  content: "\eca7";
}
.ic-16mp:before {
  content: "\eca8";
}
.ic-17mp:before {
  content: "\eca9";
}
.ic-18mp:before {
  content: "\ecaa";
}
.ic-19mp:before {
  content: "\ecab";
}
.ic-1k:before {
  content: "\ecac";
}
.ic-1k_plus:before {
  content: "\ecad";
}
.ic-20mp:before {
  content: "\ecae";
}
.ic-21mp:before {
  content: "\ecaf";
}
.ic-22mp:before {
  content: "\ecb0";
}
.ic-23mp:before {
  content: "\ecb1";
}
.ic-24mp:before {
  content: "\ecb2";
}
.ic-2k:before {
  content: "\ecb3";
}
.ic-2k_plus:before {
  content: "\ecb4";
}
.ic-2mp:before {
  content: "\ecb5";
}
.ic-3k:before {
  content: "\ecb6";
}
.ic-3k_plus:before {
  content: "\ecb7";
}
.ic-3mp:before {
  content: "\ecb8";
}
.ic-4k_plus:before {
  content: "\ecb9";
}
.ic-4mp:before {
  content: "\ecba";
}
.ic-5k:before {
  content: "\ecbb";
}
.ic-5k_plus:before {
  content: "\ecbc";
}
.ic-5mp:before {
  content: "\ecbd";
}
.ic-6k:before {
  content: "\ecbe";
}
.ic-6k_plus:before {
  content: "\ecbf";
}
.ic-6mp:before {
  content: "\ecc0";
}
.ic-7k:before {
  content: "\ecc1";
}
.ic-7k_plus:before {
  content: "\ecc2";
}
.ic-7mp:before {
  content: "\ecc3";
}
.ic-8k:before {
  content: "\ecc4";
}
.ic-8k_plus:before {
  content: "\ecc5";
}
.ic-8mp:before {
  content: "\ecc6";
}
.ic-9k:before {
  content: "\ecc7";
}
.ic-9k_plus:before {
  content: "\ecc8";
}
.ic-9mp:before {
  content: "\ecc9";
}
.ic-account_tree:before {
  content: "\ecca";
}
.ic-add_chart:before {
  content: "\eccb";
}
.ic-add_ic_call:before {
  content: "\eccc";
}
.ic-add_moderator:before {
  content: "\eccd";
}
.ic-all_inbox:before {
  content: "\ecce";
}
.ic-approval:before {
  content: "\eccf";
}
.ic-assistant_direction:before {
  content: "\ecd0";
}
.ic-assistant_navigation:before {
  content: "\ecd1";
}
.ic-bookmarks:before {
  content: "\ecd2";
}
.ic-bus_alert:before {
  content: "\ecd3";
}
.ic-cases:before {
  content: "\ecd4";
}
.ic-circle_notifications:before {
  content: "\ecd5";
}
.ic-closed_caption_off:before {
  content: "\ecd6";
}
.ic-connected_tv:before {
  content: "\ecd7";
}
.ic-dangerous:before {
  content: "\ecd8";
}
.ic-dashboard_customize:before {
  content: "\ecd9";
}
.ic-desktop_access_disabled:before {
  content: "\ecda";
}
.ic-drive_file_move_outline:before {
  content: "\ecdb";
}
.ic-drive_file_rename_outline:before {
  content: "\ecdc";
}
.ic-drive_folder_upload:before {
  content: "\ecdd";
}
.ic-duo:before {
  content: "\ecde";
}
.ic-explore_off:before {
  content: "\ecdf";
}
.ic-file_download_done:before {
  content: "\ece0";
}
.ic-rtt:before {
  content: "\ece1";
}
.ic-grid_view:before {
  content: "\ece2";
}
.ic-hail:before {
  content: "\ece3";
}
.ic-home_filled:before {
  content: "\ece4";
}
.ic-imagesearch_roller:before {
  content: "\ece5";
}
.ic-label_off:before {
  content: "\ece6";
}
.ic-library_add_check:before {
  content: "\ece7";
}
.ic-logout:before {
  content: "\ece8";
}
.ic-margin:before {
  content: "\ece9";
}
.ic-mark_as_unread:before {
  content: "\ecea";
}
.ic-menu_open:before {
  content: "\eceb";
}
.ic-mp:before {
  content: "\ecec";
}
.ic-offline_share:before {
  content: "\eced";
}
.ic-padding:before {
  content: "\ecee";
}
.ic-panorama_photosphere:before {
  content: "\ecef";
}
.ic-panorama_photosphere_select:before {
  content: "\ecf0";
}
.ic-person_add_disabled:before {
  content: "\ecf1";
}
.ic-phone_disabled:before {
  content: "\ecf2";
}
.ic-phone_enabled:before {
  content: "\ecf3";
}
.ic-pivot_table_chart:before {
  content: "\ecf4";
}
.ic-print_disabled:before {
  content: "\ecf5";
}
.ic-railway_alert:before {
  content: "\ecf6";
}
.ic-recommend:before {
  content: "\ecf7";
}
.ic-remove_done:before {
  content: "\ecf8";
}
.ic-remove_moderator:before {
  content: "\ecf9";
}
.ic-repeat_on:before {
  content: "\ecfa";
}
.ic-repeat_one_on:before {
  content: "\ecfb";
}
.ic-replay_circle_filled:before {
  content: "\ecfc";
}
.ic-reset_tv:before {
  content: "\ecfd";
}
.ic-sd:before {
  content: "\ecfe";
}
.ic-shield:before {
  content: "\ecff";
}
.ic-shuffle_on:before {
  content: "\ed00";
}
.ic-speed:before {
  content: "\ed01";
}
.ic-stacked_bar_chart:before {
  content: "\ed02";
}
.ic-stream:before {
  content: "\ed03";
}
.ic-swipe:before {
  content: "\ed04";
}
.ic-switch_account:before {
  content: "\ed05";
}
.ic-tag:before {
  content: "\ed06";
}
.ic-thumb_down_off_alt:before {
  content: "\ed07";
}
.ic-thumb_up_off_alt:before {
  content: "\ed08";
}
.ic-toggle_off:before {
  content: "\ed09";
}
.ic-toggle_on:before {
  content: "\ed0a";
}
.ic-two_wheeler:before {
  content: "\ed0b";
}
.ic-upload_file:before {
  content: "\ed0c";
}
.ic-view_in_ar:before {
  content: "\ed0d";
}
.ic-waterfall_chart:before {
  content: "\ed0e";
}
.ic-wb_shade:before {
  content: "\ed0f";
}
.ic-wb_twighlight:before {
  content: "\ed10";
}
.ic-home_work:before {
  content: "\ed11";
}
.ic-schedule_send:before {
  content: "\ed12";
}
.ic-bolt:before {
  content: "\ed13";
}
.ic-send_and_archive:before {
  content: "\ed14";
}
.ic-workspaces_filled:before {
  content: "\ed15";
}
.ic-file_present:before {
  content: "\ed16";
}
.ic-workspaces_outline:before {
  content: "\ed17";
}
.ic-fit_screen:before {
  content: "\ed18";
}
.ic-saved_search:before {
  content: "\ed19";
}
.ic-storefront:before {
  content: "\ed1a";
}
.ic-amp_stories:before {
  content: "\ed1b";
}
.ic-dynamic_feed:before {
  content: "\ed1c";
}
.ic-euro:before {
  content: "\ed1d";
}
.ic-height:before {
  content: "\ed1e";
}
.ic-policy:before {
  content: "\ed1f";
}
.ic-sync_alt:before {
  content: "\ed20";
}
.ic-menu_book:before {
  content: "\ed21";
}
.ic-emoji_flags:before {
  content: "\ed22";
}
.ic-emoji_food_beverage:before {
  content: "\ed23";
}
.ic-emoji_nature:before {
  content: "\ed24";
}
.ic-emoji_people:before {
  content: "\ed25";
}
.ic-emoji_symbols:before {
  content: "\ed26";
}
.ic-emoji_transportation:before {
  content: "\ed27";
}
.ic-post_add:before {
  content: "\ed28";
}
.ic-people_alt:before {
  content: "\ed29";
}
.ic-emoji_emotions:before {
  content: "\ed2a";
}
.ic-emoji_events:before {
  content: "\ed2b";
}
.ic-emoji_objects:before {
  content: "\ed2c";
}
.ic-sports_basketball:before {
  content: "\ed2d";
}
.ic-sports_cricket:before {
  content: "\ed2e";
}
.ic-sports_esports:before {
  content: "\ed2f";
}
.ic-sports_football:before {
  content: "\ed30";
}
.ic-sports_golf:before {
  content: "\ed31";
}
.ic-sports_hockey:before {
  content: "\ed32";
}
.ic-sports_mma:before {
  content: "\ed33";
}
.ic-sports_motorsports:before {
  content: "\ed34";
}
.ic-sports_rugby:before {
  content: "\ed35";
}
.ic-sports_soccer:before {
  content: "\ed36";
}
.ic-sports:before {
  content: "\ed37";
}
.ic-sports_volleyball:before {
  content: "\ed38";
}
.ic-sports_tennis:before {
  content: "\ed39";
}
.ic-sports_handball:before {
  content: "\ed3a";
}
.ic-sports_kabaddi:before {
  content: "\ed3b";
}
.ic-eco:before {
  content: "\ed3c";
}
.ic-museum:before {
  content: "\ed3d";
}
.ic-flip_camera_android:before {
  content: "\ed3e";
}
.ic-flip_camera_ios:before {
  content: "\ed3f";
}
.ic-cancel_schedule_send:before {
  content: "\ed40";
}
.ic-apartment:before {
  content: "\ed41";
}
.ic-bathtub:before {
  content: "\ed42";
}
.ic-deck:before {
  content: "\ed43";
}
.ic-fireplace:before {
  content: "\ed44";
}
.ic-house:before {
  content: "\ed45";
}
.ic-king_bed:before {
  content: "\ed46";
}
.ic-nights_stay:before {
  content: "\ed47";
}
.ic-outdoor_grill:before {
  content: "\ed48";
}
.ic-single_bed:before {
  content: "\ed49";
}
.ic-square_foot:before {
  content: "\ed4a";
}
.ic-double_arrow:before {
  content: "\ed4b";
}
.ic-sports_baseball:before {
  content: "\ed4c";
}
.ic-attractions:before {
  content: "\ed4d";
}
.ic-bakery_dining:before {
  content: "\ed4e";
}
.ic-breakfast_dining:before {
  content: "\ed4f";
}
.ic-car_rental:before {
  content: "\ed50";
}
.ic-car_repair:before {
  content: "\ed51";
}
.ic-dinner_dining:before {
  content: "\ed52";
}
.ic-dry_cleaning:before {
  content: "\ed53";
}
.ic-hardware:before {
  content: "\ed54";
}
.ic-liquor:before {
  content: "\ed55";
}
.ic-lunch_dining:before {
  content: "\ed56";
}
.ic-nightlife:before {
  content: "\ed57";
}
.ic-park:before {
  content: "\ed58";
}
.ic-ramen_dining:before {
  content: "\ed59";
}
.ic-celebration:before {
  content: "\ed5a";
}
.ic-theater_comedy:before {
  content: "\ed5b";
}
.ic-badge:before {
  content: "\ed5c";
}
.ic-festival:before {
  content: "\ed5d";
}
.ic-icecream:before {
  content: "\ed5e";
}
.ic-volunteer_activism:before {
  content: "\ed5f";
}
.ic-contactless:before {
  content: "\ed60";
}
.ic-delivery_dining:before {
  content: "\ed61";
}
.ic-brunch_dining:before {
  content: "\ed62";
}
.ic-takeout_dining:before {
  content: "\ed63";
}
.ic-ac_unit:before {
  content: "\ed64";
}
.ic-airport_shuttle:before {
  content: "\ed65";
}
.ic-all_inclusive:before {
  content: "\ed66";
}
.ic-beach_access:before {
  content: "\ed67";
}
.ic-business_center:before {
  content: "\ed68";
}
.ic-casino:before {
  content: "\ed69";
}
.ic-child_care:before {
  content: "\ed6a";
}
.ic-child_friendly:before {
  content: "\ed6b";
}
.ic-fitness_center:before {
  content: "\ed6c";
}
.ic-golf_course:before {
  content: "\ed6d";
}
.ic-hot_tub:before {
  content: "\ed6e";
}
.ic-kitchen:before {
  content: "\ed6f";
}
.ic-pool:before {
  content: "\ed70";
}
.ic-room_service:before {
  content: "\ed71";
}
.ic-smoke_free:before {
  content: "\ed72";
}
.ic-smoking_rooms:before {
  content: "\ed73";
}
.ic-spa:before {
  content: "\ed74";
}
.ic-no_meeting_room:before {
  content: "\ed75";
}
.ic-meeting_room:before {
  content: "\ed76";
}
.ic-goat:before {
  content: "\ed77";
}
.ic-activity:before {
  content: "\ed78";
}
.ic-airplay1:before {
  content: "\ed79";
}
.ic-alert-circle:before {
  content: "\ed7a";
}
.ic-alert-octagon:before {
  content: "\ed7b";
}
.ic-alert-triangle:before {
  content: "\ed7c";
}
.ic-align-center:before {
  content: "\ed7d";
}
.ic-align-justify:before {
  content: "\ed7e";
}
.ic-align-left:before {
  content: "\ed7f";
}
.ic-align-right:before {
  content: "\ed80";
}
.ic-anchor:before {
  content: "\ed81";
}
.ic-aperture:before {
  content: "\ed82";
}
.ic-archive1:before {
  content: "\ed83";
}
.ic-arrow-down:before {
  content: "\ed84";
}
.ic-arrow-down-circle:before {
  content: "\ed85";
}
.ic-arrow-down-left:before {
  content: "\ed86";
}
.ic-arrow-down-right:before {
  content: "\ed87";
}
.ic-arrow-left:before {
  content: "\ed88";
}
.ic-arrow-left-circle:before {
  content: "\ed89";
}
.ic-arrow-right:before {
  content: "\ed8a";
}
.ic-arrow-right-circle:before {
  content: "\ed8b";
}
.ic-arrow-up:before {
  content: "\ed8c";
}
.ic-arrow-up-circle:before {
  content: "\ed8d";
}
.ic-arrow-up-left:before {
  content: "\ed8e";
}
.ic-arrow-up-right:before {
  content: "\ed8f";
}
.ic-at-sign:before {
  content: "\ed90";
}
.ic-award:before {
  content: "\ed91";
}
.ic-bar-chart:before {
  content: "\ed92";
}
.ic-bar-chart-2:before {
  content: "\ed93";
}
.ic-battery:before {
  content: "\ed94";
}
.ic-battery-charging:before {
  content: "\ed95";
}
.ic-bell:before {
  content: "\ed96";
}
.ic-bell-off:before {
  content: "\ed97";
}
.ic-bluetooth1:before {
  content: "\ed98";
}
.ic-bold:before {
  content: "\ed99";
}
.ic-book1:before {
  content: "\ed9a";
}
.ic-book-open:before {
  content: "\ed9b";
}
.ic-bookmark1:before {
  content: "\ed9c";
}
.ic-box:before {
  content: "\ed9d";
}
.ic-briefcase:before {
  content: "\ed9e";
}
.ic-calendar:before {
  content: "\ed9f";
}
.ic-camera1:before {
  content: "\eda0";
}
.ic-camera-off:before {
  content: "\eda1";
}
.ic-cast1:before {
  content: "\eda2";
}
.ic-check1:before {
  content: "\eda3";
}
.ic-check-circle:before {
  content: "\eda4";
}
.ic-check-square:before {
  content: "\eda5";
}
.ic-chevron-down:before {
  content: "\eda6";
}
.ic-chevron-left:before {
  content: "\eda7";
}
.ic-chevron-right:before {
  content: "\eda8";
}
.ic-chevron-up:before {
  content: "\eda9";
}
.ic-chevrons-down:before {
  content: "\edaa";
}
.ic-chevrons-left:before {
  content: "\edab";
}
.ic-chevrons-right:before {
  content: "\edac";
}
.ic-chevrons-up:before {
  content: "\edad";
}
.ic-chrome:before {
  content: "\edae";
}
.ic-circle:before {
  content: "\edaf";
}
.ic-clipboard:before {
  content: "\edb0";
}
.ic-clock:before {
  content: "\edb1";
}
.ic-cloud1:before {
  content: "\edb2";
}
.ic-cloud-drizzle:before {
  content: "\edb3";
}
.ic-cloud-lightning:before {
  content: "\edb4";
}
.ic-cloud-off:before {
  content: "\edb5";
}
.ic-cloud-rain:before {
  content: "\edb6";
}
.ic-cloud-snow:before {
  content: "\edb7";
}
.ic-code1:before {
  content: "\edb8";
}
.ic-codepen:before {
  content: "\edb9";
}
.ic-codesandbox:before {
  content: "\edba";
}
.ic-coffee:before {
  content: "\edbb";
}
.ic-columns:before {
  content: "\edbc";
}
.ic-command:before {
  content: "\edbd";
}
.ic-compass:before {
  content: "\edbe";
}
.ic-copy:before {
  content: "\edbf";
}
.ic-corner-down-left:before {
  content: "\edc0";
}
.ic-corner-down-right:before {
  content: "\edc1";
}
.ic-corner-left-down:before {
  content: "\edc2";
}
.ic-corner-left-up:before {
  content: "\edc3";
}
.ic-corner-right-down:before {
  content: "\edc4";
}
.ic-corner-right-up:before {
  content: "\edc5";
}
.ic-corner-up-left:before {
  content: "\edc6";
}
.ic-corner-up-right:before {
  content: "\edc7";
}
.ic-cpu:before {
  content: "\edc8";
}
.ic-credit-card:before {
  content: "\edc9";
}
.ic-crop1:before {
  content: "\edca";
}
.ic-crosshair:before {
  content: "\edcb";
}
.ic-database:before {
  content: "\edcc";
}
.ic-delete1:before {
  content: "\edcd";
}
.ic-disc:before {
  content: "\edce";
}
.ic-dollar-sign:before {
  content: "\edcf";
}
.ic-download:before {
  content: "\edd0";
}
.ic-download-cloud:before {
  content: "\edd1";
}
.ic-droplet:before {
  content: "\edd2";
}
.ic-edit:before {
  content: "\edd3";
}
.ic-edit-2:before {
  content: "\edd4";
}
.ic-edit-3:before {
  content: "\edd5";
}
.ic-external-link:before {
  content: "\edd6";
}
.ic-eye:before {
  content: "\edd7";
}
.ic-eye-off:before {
  content: "\edd8";
}
.ic-facebook:before {
  content: "\edd9";
}
.ic-fast-forward:before {
  content: "\edda";
}
.ic-feather:before {
  content: "\eddb";
}
.ic-figma:before {
  content: "\eddc";
}
.ic-file:before {
  content: "\eddd";
}
.ic-file-minus:before {
  content: "\edde";
}
.ic-file-plus:before {
  content: "\eddf";
}
.ic-file-text:before {
  content: "\ede0";
}
.ic-film:before {
  content: "\ede1";
}
.ic-filter1:before {
  content: "\ede2";
}
.ic-flag1:before {
  content: "\ede3";
}
.ic-folder1:before {
  content: "\ede4";
}
.ic-folder-minus:before {
  content: "\ede5";
}
.ic-folder-plus:before {
  content: "\ede6";
}
.ic-framer:before {
  content: "\ede7";
}
.ic-frown:before {
  content: "\ede8";
}
.ic-gift:before {
  content: "\ede9";
}
.ic-git-branch:before {
  content: "\edea";
}
.ic-git-commit:before {
  content: "\edeb";
}
.ic-git-merge:before {
  content: "\edec";
}
.ic-git-pull-request:before {
  content: "\eded";
}
.ic-github:before {
  content: "\edee";
}
.ic-gitlab:before {
  content: "\edef";
}
.ic-globe:before {
  content: "\edf0";
}
.ic-grid:before {
  content: "\edf1";
}
.ic-hard-drive:before {
  content: "\edf2";
}
.ic-hash:before {
  content: "\edf3";
}
.ic-headphones:before {
  content: "\edf4";
}
.ic-heart:before {
  content: "\edf5";
}
.ic-help-circle:before {
  content: "\edf6";
}
.ic-hexagon:before {
  content: "\edf7";
}
.ic-home1:before {
  content: "\edf8";
}
.ic-image:before {
  content: "\edf9";
}
.ic-inbox1:before {
  content: "\edfa";
}
.ic-info1:before {
  content: "\edfb";
}
.ic-instagram:before {
  content: "\edfc";
}
.ic-italic:before {
  content: "\edfd";
}
.ic-key:before {
  content: "\edfe";
}
.ic-layers1:before {
  content: "\edff";
}
.ic-layout:before {
  content: "\ee00";
}
.ic-life-buoy:before {
  content: "\ee01";
}
.ic-link1:before {
  content: "\ee02";
}
.ic-link-2:before {
  content: "\ee03";
}
.ic-linkedin:before {
  content: "\ee04";
}
.ic-list1:before {
  content: "\ee05";
}
.ic-loader:before {
  content: "\ee06";
}
.ic-lock:before {
  content: "\ee07";
}
.ic-log-in:before {
  content: "\ee08";
}
.ic-log-out:before {
  content: "\ee09";
}
.ic-mail:before {
  content: "\ee0a";
}
.ic-map1:before {
  content: "\ee0b";
}
.ic-map-pin:before {
  content: "\ee0c";
}
.ic-maximize1:before {
  content: "\ee0d";
}
.ic-maximize-2:before {
  content: "\ee0e";
}
.ic-meh:before {
  content: "\ee0f";
}
.ic-menu1:before {
  content: "\ee10";
}
.ic-message-circle:before {
  content: "\ee11";
}
.ic-message-square:before {
  content: "\ee12";
}
.ic-mic1:before {
  content: "\ee13";
}
.ic-mic-off:before {
  content: "\ee14";
}
.ic-minimize1:before {
  content: "\ee15";
}
.ic-minimize-2:before {
  content: "\ee16";
}
.ic-minus:before {
  content: "\ee17";
}
.ic-minus-circle:before {
  content: "\ee18";
}
.ic-minus-square:before {
  content: "\ee19";
}
.ic-monitor:before {
  content: "\ee1a";
}
.ic-moon:before {
  content: "\ee1b";
}
.ic-more-horizontal:before {
  content: "\ee1c";
}
.ic-more-vertical:before {
  content: "\ee1d";
}
.ic-mouse-pointer:before {
  content: "\ee1e";
}
.ic-move:before {
  content: "\ee1f";
}
.ic-music:before {
  content: "\ee20";
}
.ic-navigation1:before {
  content: "\ee21";
}
.ic-navigation-2:before {
  content: "\ee22";
}
.ic-octagon:before {
  content: "\ee23";
}
.ic-package:before {
  content: "\ee24";
}
.ic-paperclip:before {
  content: "\ee25";
}
.ic-pause1:before {
  content: "\ee26";
}
.ic-pause-circle:before {
  content: "\ee27";
}
.ic-pen-tool:before {
  content: "\ee28";
}
.ic-percent:before {
  content: "\ee29";
}
.ic-phone1:before {
  content: "\ee2a";
}
.ic-phone-call:before {
  content: "\ee2b";
}
.ic-phone-forwarded:before {
  content: "\ee2c";
}
.ic-phone-incoming:before {
  content: "\ee2d";
}
.ic-phone-missed:before {
  content: "\ee2e";
}
.ic-phone-off:before {
  content: "\ee2f";
}
.ic-phone-outgoing:before {
  content: "\ee30";
}
.ic-pie-chart:before {
  content: "\ee31";
}
.ic-play:before {
  content: "\ee32";
}
.ic-play-circle:before {
  content: "\ee33";
}
.ic-plus:before {
  content: "\ee34";
}
.ic-plus-circle:before {
  content: "\ee35";
}
.ic-plus-square:before {
  content: "\ee36";
}
.ic-pocket:before {
  content: "\ee37";
}
.ic-power1:before {
  content: "\ee38";
}
.ic-printer:before {
  content: "\ee39";
}
.ic-radio1:before {
  content: "\ee3a";
}
.ic-refresh-ccw:before {
  content: "\ee3b";
}
.ic-refresh-cw:before {
  content: "\ee3c";
}
.ic-repeat1:before {
  content: "\ee3d";
}
.ic-rewind:before {
  content: "\ee3e";
}
.ic-rotate-ccw:before {
  content: "\ee3f";
}
.ic-rotate-cw:before {
  content: "\ee40";
}
.ic-rss:before {
  content: "\ee41";
}
.ic-save1:before {
  content: "\ee42";
}
.ic-scissors:before {
  content: "\ee43";
}
.ic-search1:before {
  content: "\ee44";
}
.ic-send1:before {
  content: "\ee45";
}
.ic-server:before {
  content: "\ee46";
}
.ic-settings1:before {
  content: "\ee47";
}
.ic-share1:before {
  content: "\ee48";
}
.ic-share-2:before {
  content: "\ee49";
}
.ic-shield1:before {
  content: "\ee4a";
}
.ic-shield-off:before {
  content: "\ee4b";
}
.ic-shopping-bag:before {
  content: "\ee4c";
}
.ic-shopping-cart:before {
  content: "\ee4d";
}
.ic-shuffle1:before {
  content: "\ee4e";
}
.ic-sidebar:before {
  content: "\ee4f";
}
.ic-skip-back:before {
  content: "\ee50";
}
.ic-skip-forward:before {
  content: "\ee51";
}
.ic-slack:before {
  content: "\ee52";
}
.ic-slash:before {
  content: "\ee53";
}
.ic-sliders:before {
  content: "\ee54";
}
.ic-smartphone:before {
  content: "\ee55";
}
.ic-smile:before {
  content: "\ee56";
}
.ic-speaker1:before {
  content: "\ee57";
}
.ic-square:before {
  content: "\ee58";
}
.ic-star1:before {
  content: "\ee59";
}
.ic-stop-circle:before {
  content: "\ee5a";
}
.ic-sun:before {
  content: "\ee5b";
}
.ic-sunrise:before {
  content: "\ee5c";
}
.ic-sunset:before {
  content: "\ee5d";
}
.ic-tablet1:before {
  content: "\ee5e";
}
.ic-tag1:before {
  content: "\ee5f";
}
.ic-target:before {
  content: "\ee60";
}
.ic-terminal:before {
  content: "\ee61";
}
.ic-thermometer:before {
  content: "\ee62";
}
.ic-thumbs-down:before {
  content: "\ee63";
}
.ic-thumbs-up:before {
  content: "\ee64";
}
.ic-toggle-left:before {
  content: "\ee65";
}
.ic-toggle-right:before {
  content: "\ee66";
}
.ic-tool:before {
  content: "\ee67";
}
.ic-trash:before {
  content: "\ee68";
}
.ic-trash-2:before {
  content: "\ee69";
}
.ic-trello:before {
  content: "\ee6a";
}
.ic-trending-down:before {
  content: "\ee6b";
}
.ic-trending-up:before {
  content: "\ee6c";
}
.ic-triangle:before {
  content: "\ee6d";
}
.ic-truck:before {
  content: "\ee6e";
}
.ic-tv1:before {
  content: "\ee6f";
}
.ic-twitch:before {
  content: "\ee70";
}
.ic-twitter:before {
  content: "\ee71";
}
.ic-type:before {
  content: "\ee72";
}
.ic-umbrella:before {
  content: "\ee73";
}
.ic-underline:before {
  content: "\ee74";
}
.ic-unlock:before {
  content: "\ee75";
}
.ic-upload:before {
  content: "\ee76";
}
.ic-upload-cloud:before {
  content: "\ee77";
}
.ic-user:before {
  content: "\ee78";
}
.ic-user-check:before {
  content: "\ee79";
}
.ic-user-minus:before {
  content: "\ee7a";
}
.ic-user-plus:before {
  content: "\ee7b";
}
.ic-user-x:before {
  content: "\ee7c";
}
.ic-users:before {
  content: "\ee7d";
}
.ic-video:before {
  content: "\ee7e";
}
.ic-video-off:before {
  content: "\ee7f";
}
.ic-voicemail1:before {
  content: "\ee80";
}
.ic-volume:before {
  content: "\ee81";
}
.ic-volume-1:before {
  content: "\ee82";
}
.ic-volume-2:before {
  content: "\ee83";
}
.ic-volume-x:before {
  content: "\ee84";
}
.ic-watch1:before {
  content: "\ee85";
}
.ic-wifi1:before {
  content: "\ee86";
}
.ic-wifi-off:before {
  content: "\ee87";
}
.ic-wind:before {
  content: "\ee88";
}
.ic-x:before {
  content: "\ee89";
}
.ic-x-circle:before {
  content: "\ee8a";
}
.ic-x-octagon:before {
  content: "\ee8b";
}
.ic-x-square:before {
  content: "\ee8c";
}
.ic-youtube:before {
  content: "\ee8d";
}
.ic-zap:before {
  content: "\ee8e";
}
.ic-zap-off:before {
  content: "\ee8f";
}
.ic-zoom-in:before {
  content: "\ee90";
}
.ic-zoom-out:before {
  content: "\ee91";
}
