.custom-select {
    padding: 0.375rem 3.75rem 0.375rem 3.75rem;
}

.yayasan-grid-custom {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 15px;
}

.select2-container--bootstrap4 .select2-selection {
    border: 1px solid #49494a !important;
}

.custom-search-icon {
    margin: 10px 0px !important;
    font-size: 18px !important;
}

.custom-search-lokasi {
    background-color: #ffffff !important;
    border: 1px solid #49494a !important;
}

.custom-search-header {
    border: 1px solid #49494a !important;
}

.footer-white {
    color: #fff;
}

.kategori-name h4{
    font-size: 1.1rem;
    color: #000 !important;
}

.text-md-left {
    color: #fff;
}

.image-yayasan {
    height: 184px !important;
}

.btn-primary {
    color: #fff;
    background-color: #3E9DFB;
    border-color: #3E9DFB;
}

.custom-blue-background {
    background-color: #3E9DFB;
    padding: 25px 0;
}

@media (min-width: 576px) {
    .form-inline .custom-select, .form-inline .input-group {
        width: 340px;
    }
}
/*
.donatur {
    padding: 60px 0;
}

 */

/* @media (max-width: 992px) {
    .mobile-button-menu {
      color: #ffffff !important;
    }

    .mobile-search {
        padding: 10px 20px;
    }

    .mobile-button-custom {
        padding: 0px 10px !important;
    }
} */

@media (max-width: 767px) {


    .select2-container--bootstrap4 .select2-selection {
      background-color: transparent !important;
      border: none !important;
    }

  }
